######################
# Maven
######################
.mvn/
**/target/
!.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/MavenWrapperDownloader.java

######################
# Chutney
######################
.chutney
