<!-- Campaigns related to a scenario -->
@if (campaignsForScenario.length > 0) {
  <div>
    {{ 'menu.principal.campaigns' | translate }} :
    <ng-container *hasAuthorization="[Authorization.CAMPAIGN_READ]">
      @for (campaign of campaignsForScenario; track campaign) {
        <a [routerLink]="['/campaign', campaign.id,'executions']"
          title="{{ 'campaigns.list.item.title.link.title' | translate }} {{campaign.title}}">
          {{campaign.title}}
        </a>
        &nbsp;
      }
    </ng-container>
    <ng-container *hasAuthorization="{not: true, authorizations: [Authorization.CAMPAIGN_READ]}">
      @for (campaign of campaignsForScenario; track campaign) {
        <span>{{campaign.title}}</span> &nbsp;
      }
    </ng-container>
  </div>
}
