<!--
  ~ SPDX-FileCopyrightText: 2017-2024 Enedis
  ~
  ~ SPDX-License-Identifier: Apache-2.0
  ~
  -->

<div class="configuration mb-2 me-2">
  <div class="small me-3">
    <label for="edition" class="form-control-label m-0 me-2">{{ 'scenarios.edition.form.content.editor.mode' | translate }}</label>
    <select class="form-select ace-combo" id="edition" name="editorMode" (change)="changeMode($event)">
      @for (mode of modes; track mode) {
        <option [value]="mode" [selected]="mode === currentMode">{{mode}}</option>
      }
    </select>
  </div>
  <div class="small me-3">
    <label for="theme" class="form-control-label m-0 me-2">{{ 'scenarios.edition.form.content.editor.theme' | translate }}</label>
    <select class="form-select" id="theme" (change)="changeTheme($event)" name="editorTheme">
      @for (theme of themes; track $index) {
        <option [value]="theme"
        [selected]="theme === currentTheme">{{theme}}</option>
      }
    </select>
  </div>
</div>

<div class="ace-editor" style="{{'height: calc(100vh - ' + height + ');'}}" #editor></div>
