#SPDX-FileCopyrightText: 2017-2024 Enedis
#SPDX-License-Identifier: Apache-2.0


######################
# Intellij
######################
**/.idea/*
!.idea/codeStyleSettings.xml
!.idea/codeStyles
!.idea/runConfigurations
!.idea/copyright
!.idea/scopes
*.iml
*.iws
*.ipr
*.ids
*.orig


######################
# Visual Studio Code
######################
.vscode/
**/.sts4-cache


.env.chutney
