/*!
 * SPDX-FileCopyrightText: 2017-2024 Enedis
 *
 * SPDX-License-Identifier: Apache-2.0
 *
 */

.executions-tabs {
    top: calc(40px - 1.5rem); // calculation between execution header and app_main_inner heights
    z-index: 1021;
    background-color: var(--bs-body-bg) !important;
}
.close-tab:hover {
    border: 1px solid;
}
