/*!
 * SPDX-FileCopyrightText: 2017-2024 Enedis
 *
 * SPDX-License-Identifier: Apache-2.0
 *
 */

a.chutney-link {
    text-decoration: none !important;
    color: var(--bs-info) !important;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: var(--bs-primary) !important;
    }
}
