<div *hasAuthorization="[Authorization.SCENARIO_WRITE]"
     class="create-scenario-wrapper"
>
    <div class="create-scenario bg-primary">
        <button type="button" class="btn btn-xs" title="{{ 'scenarios.search.create.form' | translate }}"
                (click)="createNewScenario()">
            <span class="fa fa-pencil-alt fa-2x"></span>
        </button>
    </div>
</div>
<div class="header-scenario">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <chutney-forms-search-field [id]="'scenario-search'"
                                        [placeholder]="'scenarios.search.placeholder' | translate"
                                        [searchInput]="textFilter"
                                        (searchInputEvent)="updateTextFilter($event)"></chutney-forms-search-field>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-outline-primary"
                    (click)="fullTextSearch = !fullTextSearch">
            <span  class="fa" [ngClass]="{'fa-plus' : !fullTextSearch,
                              'fa-minus' : fullTextSearch}"></span>
            </button>
        </div>
    </div>
    @if (fullTextSearch) {
        <div  class="row my-2">
            <div class="col-2"></div>
            <div class="col-4">
                <chutney-forms-search-field [id]="'scenario-search-fulltext'"
                                            [placeholder]="'scenarios.search.placeholder-fulltext' | translate"
                                            [searchInput]="fullTextFilter"
                                            (searchInputEvent)="updateFullTextFilter($event)"></chutney-forms-search-field>
            </div>
        </div>
    }
</div>

<div class="w-100 h-100">
    <span class="ms-3">{{viewedScenarios.length}} / {{scenarios.length}}</span>
    <div class="table-responsive mb-3 mx-3 h-100">
        <table class="table table-sm table-striped table-hover">
            <thead>
            <tr class="headers-labels">
                <th class="filter w3" scope="col" (click)="sortBy('id')">ID
                    @if (orderBy == 'id' && reverseOrder) {
                        <span class="fa fa-caret-down"></span>
                    }
                    @if (orderBy == 'id' && !reverseOrder) {
                        <span class="fa fa-caret-up"></span>
                    }
                </th>
                <th class="filter w11" scope="col">
                    <span>{{ 'scenarios.list.header.status'  | translate  }}</span>
                </th>
                <th class="filter w10" scope="col" (click)="sortBy('lastExecution')">{{ 'scenarios.list.header.execLast'  | translate  }}
                    @if (orderBy == 'lastExecution' && reverseOrder) {
                        <span class="fa fa-caret-down"></span>
                    }
                    @if (orderBy == 'lastExecution' && !reverseOrder) {
                        <span class="fa fa-caret-up"></span>
                    }
                </th>

                <th class="filter w34" scope="col" (click)="sortBy('title')">{{ 'scenarios.list.header.title'  | translate  }}
                    @if (orderBy == 'title' && reverseOrder) {
                        <span class="fa fa-caret-down"></span>
                    }
                    @if (orderBy == 'title' && !reverseOrder) {
                        <span class="fa fa-caret-up"></span>
                    }
                </th>
                <th scope="col" class="w1">&nbsp;</th>
                <th class="filter w12" scope="col">
                    <span>{{ 'scenarios.list.header.tags'  | translate  }}</span>
                </th>
                <th class="filter w10" scope="col" (click)="sortBy('updateDate')">{{ 'scenarios.list.header.update'  | translate  }}
                    @if (orderBy == 'updateDate' && reverseOrder) {
                        <span class="fa fa-caret-down"></span>
                    }
                    @if (orderBy == 'updateDate' && !reverseOrder) {
                        <span class="fa fa-caret-up"></span>
                    }
                </th>
                <th class="filter w8" scope="col" (click)="sortBy('creationDate')">{{ 'scenarios.list.header.creation'  | translate  }}
                    @if (orderBy == 'creationDate' && reverseOrder) {
                        <span class="fa fa-caret-down"></span>
                    }
                    @if (orderBy == 'creationDate' && !reverseOrder) {
                        <span class="fa fa-caret-up"></span>
                    }
                </th>
                <th class="w11" scope="col">
                </th>
            </tr>
            <tr class=" small">
                <th></th>
                <th class="fw-normal">
                    <ng-multiselect-dropdown
                        [settings]="dropdownSettings"
                        [placeholder]="'global.actions.select' | translate"
                        [data]="status"
                        [(ngModel)]="selectedStatus"
                        (onSelect)="applyFilters()"
                        (onDeSelect)="applyFilters()"
                        (onDeSelectAll)="applyFilters()" >
                    </ng-multiselect-dropdown>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th class="fw-normal">
                    <ng-multiselect-dropdown
                        [settings]="dropdownSettings"
                        [placeholder]="'global.actions.select' | translate"
                        [data]="tags"
                        [(ngModel)]="selectedTags"
                        (onSelect)="onItemSelect()"
                        (onDeSelect)="OnItemDeSelect()"
                        (onDeSelectAll)="OnItemDeSelectAll()">
                    </ng-multiselect-dropdown>
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                @for (scenario of viewedScenarios; track scenario.id) {
                    <tr class="align-baseline">
                        <td class="text-center text-nowrap">
                            <span>{{scenario.id}}</span>
                        </td>
                        <td scope="row" class="text-center">
                            <chutney-execution-badge [status]="scenario.status"></chutney-execution-badge>
                        </td>
                        <td scope="row" class="text-center">
                            {{ scenario.lastExecution != null ? (scenario.lastExecution | amLocale:'fr' | amTimeAgo) : "" }}
                        </td>
                        <td [routerLink]="['/scenario', scenario.id, 'executions']" (click)="$event.stopPropagation()" class="scenario-title cursor-pointer">{{scenario.title}}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-link me-0"
                                    ngbPopover="{{scenario.description}}" placement="left"
                                    triggers="mouseenter:mouseleave">
                                <span class="fa fa-info-circle" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td class="text-center">
                            @if (scenario.tags.length <= 3) {
                                <span>
                  @for (tag of scenario.tags; track $index) {
                      <span
                          class="chutney-tag chutney-tag-selected">{{tag}}</span>
                  }
                </span>
                            }
                            @if (scenario.tags.length > 3) {
                                <span>
                  @for (tag of scenario.tags | slice:0:2; track tag) {
                      <span
                          class="chutney-tag chutney-tag-selected">{{tag}}</span>
                  }
                                    <button type="button" class="chutney-tag chutney-tag-selected"
                                            ngbPopover="{{scenario.tags}}" placement="left"
                                            triggers="mouseenter:mouseleave">
                    ...
                  </button>
                </span>
                            }
                        </td>
                        <td scope="row" class="text-center">
                            {{ scenario.updateDate | amLocale:'fr' | amTimeAgo }}
                        </td>
                        <td scope="row" class="text-center">
                            {{ scenario.creationDate | amLocale:'fr' | amTimeAgo }}
                        </td>
                        <td >
                            <button type="button" class="btn bnt-xs" [routerLink]="['/scenario', scenario.id, 'executions']" [queryParams]="{open: 'last', active: 'last'}" (click)="$event.stopPropagation()" >
                                <span  class="fa fa-eye"></span>
                            </button>
                            <button type="button" class="btn bnt-xs"  routerLink="{{'/scenario/' + scenario.id + '/raw-edition'}}" (click)="$event.stopPropagation()">
                                <span  class="fa fa-edit"></span>
                            </button>
                            @if ( jiraUrl !== '') {
                                <button type="button" class="btn bnt-xs"  (click)="showScenarioJiraLinks(scenario)">
                                    <span  class="fab fa-jira"></span>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
