<!--
  ~ SPDX-FileCopyrightText: 2017-2024 Enedis
  ~
  ~ SPDX-License-Identifier: Apache-2.0
  ~
  -->

@if (campaign) {
    <chutney-campaign-execution-menu [campaign]="campaign" [canReplay]="canReplay"></chutney-campaign-execution-menu>
    @if (errors.length > 0) {
        <div class="alert alert-dismissible alert-danger mt-4">
            <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="errors = []"></button>
            @for (err of errors; track $index) {
            {{ err }}<br />
            }
        </div>
    }

  <div>
    <h5>{{ campaign.title }}</h5>
    <h6>{{ campaign.description }}</h6>
    <ul ngbNav #nav="ngbNav" [activeId]="getActiveTab()" (navChange)="onTabChange($event)" class="nav-tabs">
      <li [ngbNavItem]="'0'" [destroyOnHide]="false">
        <a ngbNavLink>
          {{ 'campaigns.execution.history.title' | translate }}
        </a>
        <ng-template ngbNavContent>
          <chutney-campaign-executions [executions]="campaignReports" [campaign]="campaign" [(filters)]="executionsFilters"
            (onExecutionSelect)="openReport($event)">
          </chutney-campaign-executions>
        </ng-template>
      </li>
      @for (exec of tabs; track exec.report.executionId) {
        <li [ngbNavItem]="exec.report.executionId.toString()" [destroyOnHide]="false">
          <a ngbNavLink>
            <small><strong>#{{ exec.report.executionId }}</strong> ({{ exec.report.startDate | amCalendar}})</small>
            <button type="button" class="btn btn-sm ms-1 close-tab" (click)="closeReport($event, exec.report.executionId)">
              <i class="fa-regular fa-x fa-xs fw-light" ></i>
            </button>
          </a>
          <ng-template ngbNavContent>
            <chutney-campaign-execution [campaignId]="campaign.id" [report]="exec" [jiraUrl]="jiraUrl">
            </chutney-campaign-execution>
          </ng-template>
        </li>
      }
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
}








