<!--
  ~ SPDX-FileCopyrightText: 2017-2024 Enedis
  ~
  ~ SPDX-License-Identifier: Apache-2.0
  ~
  -->

<div class="app-sidebar">
  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
        <div class="sidebar-menu">
          <div class="menu-list">
            @for (item of  menuItems; track $index) {
              @if (canViewMenuGroup(item)) {
                <div class="menu-header">{{item.label}}</div>
                @for (subItem of item.children; track subItem.label) {
                  @if (canViewMenuItem(subItem)) {
                    <div class="menu-item nav-item"
                      >
                      <a placement="right" container="body" [disableTooltip]="!layoutOptions.toggleSidebar" ngbTooltip="{{subItem.label | translate}}"
                         [autoClose]="true" [routerLink]="subItem.link" routerLinkActive="active-item" class="menu-link">
                        <i class="menu-icon" [ngClass]="subItem.iconClass"></i>
                        <span class="menu-title">{{subItem.label | translate}}</span>
                      </a>
                    </div>
                  }
                }
              }
            }
          </div>
        </div>
    </div>
  </div>
</div>
