/*!
 * SPDX-FileCopyrightText: 2017-2024 Enedis
 *
 * SPDX-License-Identifier: Apache-2.0
 *
 */

@import "bootswatch/dist/flatly/variables";

$nav-link-padding-x: 1rem;
$link-color: $primary;
$nav-tabs-link-active-color: $primary;
$info:#3190d0;

@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/flatly/bootswatch";

.app-sidebar {
    background-color: $light;
}

.middle-sidebar {
    background-color: $light;
}


:root {
    --chutney-report-bg-color: #{$gray-100};
}
