/*!
 * SPDX-FileCopyrightText: 2017-2024 Enedis
 *
 * SPDX-License-Identifier: Apache-2.0
 *
 */

.scheduling-campaign-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ".";
    justify-items: start;
    align-items: start;
}

.error-message{
    color:var(--bs-warning);
    font-size: 0.8em;
}

:host ::ng-deep
.cuppa-dropdown {
    border: none;

    .selected-item, .selected-list {
        display: none;
    }

    .dropdown-list {
        width: 200px!important;
    }
}

.schedule-form-group {
    background-color:  var(--bs-light);
    padding: 1em;
    border-radius: 1em;
    width: fit-content;
    margin-top: 1em;
}

.campaigns-multi-select {
    display: inline-block;
    min-width: 200px;
    width: 100%;
}

::ng-deep ng-multiselect-dropdown .multiselect-dropdown .dropdown-btn  {
    font-size: small;

    .selected-item-container {
        width: 95%;

        .selected-item {
            min-width: fit-content;

            span {
                word-break: break-all;
                padding-right: 10px;
            }
        }
    }
}