<div class="modal-body" ngbAutofocus>

    @if (errorMessage) {
        <div class="alert alert-dismissible alert-danger mt-4">
            <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="errorMessage = null"></button>
            {{ errorMessage }}
        </div>
      }

    @if (environments.length > 1) {
        <div class="row mb-2">
            <div class="col">Environment :</div>
            <div class="col">
                <select class="form-select environment-combo" [ngClass]="{'border-danger': errorMessage}" (change)="selectEnvironment($event)">
                    <option value=""></option>
                    @for (environment of environments; track $index) {
                      <option [selected]="environment === selectedEnv" [title]="environment" [value]="environment">
                        {{ environment }}
                      </option>
                    }
                  </select>
            </div>
        </div>
    }

    <div class="row">
        <div class="col">Dataset</div>
        <div class="col">
            <select class="form-select dataset-combo" (change)="selectDataset($event)">
                <option value=""></option>
                @for (dataset of datasets; track $index) {
                  <option [selected]="dataset.id === selectedDatasetId" [title]="dataset.description" [value]="dataset.id">
                    {{ dataset.name }}
                  </option>
                }
              </select>              
        </div>
    </div>
    

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light"
        (click)="activeModal.dismiss('cancel click')">{{ "global.actions.cancel" | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="execute()">{{ "global.actions.execute" | translate }}</button>
</div>