th > span, th > button{
    background-color: transparent !important;
}

::ng-deep .p-dropdown-items {
    padding-left: 0rem; 
  }

::ng-deep .p-dropdown-header {
    background-color: inherit;
    padding: 0.5rem; 
    border-bottom: none;
  }