$base-color: var(--bs-primary) !important;
.multiselect-dropdown {
    .dropdown-btn {
        .selected-item {
            border: 1px solid $base-color;
            background: $base-color;
            margin-bottom: 2px;
        }
    }
}

.multiselect-item-checkbox input[type='checkbox']:focus + div:before,
.multiselect-item-checkbox input[type='checkbox']:hover + div:before {
    border-color: $base-color;
}

.multiselect-item-checkbox input[type='checkbox'] + div:before {
    color: $base-color;
    border: 2px solid $base-color;
}

.multiselect-item-checkbox input[type='checkbox'] + div:after {
    background-color: $base-color;
}

.multiselect-item-checkbox input[type='checkbox']:checked + div:before {
    background: $base-color;
}

@keyframes borderscale {
    50% {
        box-shadow: 0 0 0 2px $base-color;
    }
}


