# IntelliJ project files
.idea
*.iml
out
gen

### Gradle template
###############################################################################
.gradle
**/build/
!src/**/build/
DEVREP

# Ignore Gradle GUI config
gradle-app.setting
gradle.properties

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# Maven
###############################################################################
/log/
**/target/
.mvn/maven.config


# Chutney reports
###############################################################################
**/.chutney/

# Other
.env
