<!--
  ~ SPDX-FileCopyrightText: 2017-2024 Enedis
  ~
  ~ SPDX-License-Identifier: Apache-2.0
  ~
  -->

<div [formGroup]="filtersForm">
  <span class="ms-3">{{filteredExecutions.length}} / {{executions.length}}</span>
  <table class="table table-hover table-borderless table-striped text-center align-middle">
    <thead>
      <tr class="headers-labels">
        <th class="w1">#</th>
        <th scope="col">
          <div class="cursor-pointer d-flex justify-content-center" (click)="datepicker.toggle()">
            <span>{{'scenarios.execution.history.date' | translate}}</span>
            <i #dateToggleButton class="ms-2 fa-regular fa-calendar-days"></i>
          </div>
        </th>
        <th scope="col">
          <div class="cursor-pointer d-flex justify-content-center">
            <span>{{'scenarios.execution.history.status' | translate}}</span>
          </div>
        </th>
        <th scope="col">{{'scenarios.execution.history.error' | translate}}</th>
        <th scope="col">{{'scenarios.execution.history.info' | translate}}</th>
        <th scope="col">
          <div class="cursor-pointer d-flex justify-content-center">
            <span>{{ 'scenarios.execution.history.tags'  | translate  }}</span>
          </div>
        </th>
        <th scope="col">{{'scenarios.execution.history.scenarioId' | translate}}</th>
        <th scope="col">
          <div class="cursor-pointer d-flex justify-content-center">
            <span>{{'scenarios.execution.history.env' | translate}}</span>
          </div>
        </th>
        <th scope="col">
          <div class="cursor-pointer d-flex justify-content-center">
            <span> {{'scenarios.execution.history.campaign' | translate}}</span>
          </div>
        </th>
        <th scope="col">
          <div class="cursor-pointer d-flex justify-content-center">
            <span>{{'scenarios.execution.history.executor' | translate}}</span>
          </div>
        </th>
      </tr>
      <tr class=" small">
        <th></th>
        <th>
          @if (filtersForm.controls['date'].value) {
            <div (click)="filtersForm.get('date').reset()"
              class="cursor-pointer chutney-tag chutney-tag-selected">
              {{ getDateFilterValue() | amDateFormat:'LL'}}
              <i class="fa-regular fa-x fa-xs ms-2"></i>
            </div>
          }
        </th>
        <th class="fw-normal">
          <ng-multiselect-dropdown [settings]="selectSettings"
            [data]="status"
            [formControl]="getFormControl('status')"
            #statusDropdown>
          </ng-multiselect-dropdown>
        </th>
        <th class="w20"></th>
        <th></th>
        <th class="fw-normal">
          <ng-multiselect-dropdown #tagsDropdown
            [settings]="selectSettings"
            [data]="tags"
            [formControl]="getFormControl('tags')">
          </ng-multiselect-dropdown>
        </th>
        <th></th>
        <th class="fw-normal">
          <ng-multiselect-dropdown [settings]="selectSettings"
            [data]="environments"
            [formControl]="getFormControl('environments')"
            #envsDropdown>
          </ng-multiselect-dropdown>
        </th>
        <th class="fw-normal">
          <ng-multiselect-dropdown [settings]="selectSettings"
            [data]="campaigns"
            [formControl]="getFormControl('campaigns')"
            #campsDropdown>
          </ng-multiselect-dropdown>
        </th>
        <th>
          <ng-multiselect-dropdown [settings]="selectSettings"
            [data]="executors"
            [formControl]="getFormControl('executors')"
            #executorsDropdown>
          </ng-multiselect-dropdown>
        </th>
      </tr>
    </thead>
    <tbody class="small">
      @for (execution of filteredExecutions; track execution.executionId) {
        <tr
          (click)="openReport(execution, !$event.ctrlKey)" class="cursor-pointer">
          <td>
            <a class="link">
              <ngb-highlight [result]="execution.executionId.toString()"
                [term]="filtersForm.get('keyword').value">
              </ngb-highlight>
            </a>
          </td>
          <td>
            <ngb-highlight class="text-nowrap"
              [result]="execution.time | amCalendar"
              [term]="filtersForm.get('keyword').value">
            </ngb-highlight>
            <div>
              <small>({{ 'global.time.in' | translate }} {{execution.duration | amDuration:'ms' }})</small>
            </div>
          </td>
          <td>
            <i class="fa-lg"
                   [ngClass]="
                            {'fa-solid': execution.status !== ExecutionStatus.NOT_EXECUTED,
                            'fa-circle-check icon-info': execution.status === ExecutionStatus.SUCCESS,
                            'fa-circle-xmark icon-danger': execution.status === ExecutionStatus.FAILURE,
                            'fa-spinner fa-pulse icon-warning': execution.status === ExecutionStatus.RUNNING || execution.status === ExecutionStatus.PAUSED,
                            'fa-circle-exclamation icon-light': execution.status === ExecutionStatus.STOPPED,
                            'fa-regular fa-circle text-warning': execution.status === ExecutionStatus.NOT_EXECUTED}"
              [ngbTooltip]="ExecutionStatus.toString(execution.status) | translate" placement="right"
            ></i>
          </td>
          <td class="text-break">
            <ngb-highlight [result]="execution.error"
            [term]="filtersForm.get('keyword').value"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="execution.info"
            [term]="filtersForm.get('keyword').value"></ngb-highlight>
          </td>
          <td class="text-center">
            @if (execution.tags && execution.tags.length <= 3) {
              <span>
                @for (tag of execution.tags; track $index) {
                  <span
                  class="chutney-tag chutney-tag-selected">{{tag}}</span>
                }
              </span>
            }
            @if (execution.tags && execution.tags.length > 3) {
              <span>
                @for (tag of execution.tags | slice:0:2; track $index) {
                  <span
                  class="chutney-tag chutney-tag-selected">{{tag}}</span>
                }
                <button type="button" class="chutney-tag chutney-tag-selected"
                  ngbPopover="{{execution.tags.join(' | ')}}" placement="left"
                  triggers="mouseenter:mouseleave">
                  ...
                </button>
              </span>
            }
          </td>
          <td>
            <ngb-highlight [result]="execution.scenarioId"
            [term]="filtersForm.get('keyword').value"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="execution.environment"
            [term]="filtersForm.get('keyword').value"></ngb-highlight>
          </td>
          <td>
            <a (click)="openCampaignExecution(execution, $event)" class="link">
              <ngb-highlight [result]="execution.campaignReport?.campaignName"
              [term]="filtersForm.get('keyword').value"></ngb-highlight>
            </a>
          </td>
          <td>
            <ngb-highlight [result]="execution.user" [term]="filtersForm.get('keyword').value"></ngb-highlight>
          </td>
        </tr>
      }
      @if (!filteredExecutions.length) {
        <tr>
          <td colspan="12">{{'scenarios.execution.history.empty' | translate}}</td>
        </tr>
      }
    </tbody>
  </table>

  <div class="input-group">
    <input class="form-control d-none"
      name="datepicker"
      ngbDatepicker
      #datepicker="ngbDatepicker"
      formControlName="date"
      [readonly]="true"
      (click)="datepicker.toggle()"
      [positionTarget]="dateToggleButton"
      [markDisabled]="noExecutionAt()"
      placement="bottom auto"
      container="body">
  </div>
</div>
