#SPDX-FileCopyrightText: 2017-2024 Enedis
#SPDX-License-Identifier: Apache-2.0

server:
  instance-name: local dev
  port: 8443
  http:
    port: 8080
    interface: localhost
  compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json
    min-response-size: 1024
  ssl:
    keyStore: 'classpath:security/https/server.jks'
    key-store-password: ENC(Gbx7KiGNL+a17iZ8ZhAy2FbtJHZ7hKOdsor+xG29Ug5S1MGvxdMMCs2tYPIQK9shG5cVWxrIghg9ugujMjtNFYNdYDO6YbWENAuXWP12H50Z/29Iz7zymZTUC3VNI3WBMmPXj7ZUiJ5b5w2PY/OXEPCnMHkR+ARIS5S61nTIyXGbt1mgAVqcobn6TU1ywxq9uT+Y3H1mx4soJxV58Gfy7m0LT8d0dknPt8TUJ71cwz8wrb22HjbAofQTAxzd1lZrl3ugdN2IRIpr1XjMg2l9RYd+ezMnsAc8arReBifuEdVJwD72Eqr96HPp3UtoRyzWbHheP9LXplZo6yDj4NGmvA==)
    key-password: ENC(KBtL7IdLlchJCZimeeSolv5AxCPXrMjQ4G30/ZLbCV+tHlgqkyCbOf/S2qz0p4SqTdXiVtXskF2z/fM6R0VETwsQHLQFS8KIDVvoF1sdgJKzjFQZtZdI4DR2O+ah/wsQ0Xyyu+fbD1oPjUwVMt4JSBQxUGJajAOiXWMrAPdVhP3xy12aEl7EIGVAVGUgzXiIV/yyAb3V1h4hc1T0+OPlQCI8bEDdimSnaGBeLimnyVliKL5WHkv9q6MVkNssVGwU0CK7cKbGJ4WTrXJegFV3Byn9eGvXqL9xZCu0hjt9ypNlMPrmEawjNQhgmAdOVYXCjmzk5vt7H6g9MUMJRhRUiA==)
    trust-store: 'classpath:security/https/truststore.jks'
    trust-store-password: ENC(dlRt/8qMm5xalAzC4WtYcuuyNhN0TjtxSIRsmJpytK44wSvHNyCPu1Wi14OIa6RS31wtlMaMe5qw7pjPZHXlblAQ0iMRYNA9IfpVJ71JGvdQQx9KS7khdphOzUQJVr1LXr2t/qJ0U6UXZDmOeNtemS65LFWzRZgwiOp4+rHT0S+MmxDJzLQtfkqmB7q7C2i9Im+BwjmVTBBSu/U6F8qwWPj3tJmHb8ONRaQDfMLwxWpEk0kNqVOxhxQiyYE9vVfzAoP10dBxAuJ7aL7yETz3h1WETze22rFB/2ozQLTRWPYcwSP9Xah/p/AAw94M9o0b0xlGfhQhemvk2rfEUbr65w==)
  servlet:
    session:
      timeout: 240m
      cookie:
        http-only: true
        secure: true
        same-site: lax
      tracking-modes: cookie

management:
  endpoints:
    web:
      exposure:
        include: "*"
      cors:
        allowed-origins: '*'
        allowed-methods: GET
  endpoint:
    health:
      show-details: always

spring:
  application:
    name: chutney-server
  liquibase:
    change-log: classpath:/changelog/db.changelog-master.xml
  jpa:
    open-in-view: false
    show_sql: false
    generate-ddl: false
    hibernate:
      ddl-auto: none
  profiles:
    active:
      - undertow-https-redirect
      - ldap
      - mem-auth
      - db-sqlite
      - sso-auth
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:3000  # URL du serveur OIDC
      client:
        registration:
          my-client: # Identifiant pour le client dans Spring Security
            client-id: my-client  # Le client_id que vous avez défini dans votre serveur OIDC
            client-secret: my-client-secret  # Le client_secret du serveur OIDC
            scope: openid, profile, email  # Scopes requis (OpenID Connect nécessite "openid")
            authorization-grant-type: authorization_code  # Type de grant (flux d'autorisation)
            redirect-uri: "{baseUrl}/auth-callback"  # URL de redirection après authentification
            provider: my-provider  # Le nom du provider associé (référence à la section provider)
        provider:
          my-provider: # Configuration du fournisseur OIDC
            issuer-uri: http://localhost:3000  # URI de l'issuer (serveur OIDC)
            user-info-uri: http://localhost:3000/userinfo  # URI pour obtenir les informations utilisateur
            jwk-set-uri: http://localhost:3000/.well-known/openid-configuration/jwks  # URI pour obtenir la clé publique pour valider les tokens JWT
            token-uri: http://localhost:3000/token  # URI pour échanger le code d'autorisation contre un token
            authorization-uri: http://localhost:3000/auth  # URI pour l'authentification et obtenir le code d'autorisation
            introspection-uri: http://localhost:3000/introspect  # URI d'introspection du token (facultatif)



chutney:
  configuration-folder: .chutney/conf
  environment:
    configuration-folder: ${chutney.configuration-folder}/environment
  jira:
    configuration-folder: ${chutney.configuration-folder}/jira
  index-folder: .chutney/index
  server:
    editions:
      ttl:
        value: 2
        unit: SECONDS
    execution:
      async:
        publisher:
          ttl: 5
          debounce: 250
    campaigns:
      executor:
        pool-size: 20
    scheduled-campaigns:
      fixed-rate: 60000
      executor:
        pool-size: 20
    schedule-purge:
      cron: 0 0 1 * * *
      timeout: 600
      retry: 1
      max-scenario-executions: 10
      max-campaign-executions: 10
    agent:
#      name:
#      hostname:
      network:
        connection-checker-timeout: 1000

  engine:
    executor:
      pool-size: 20
    reporter:
      publisher:
        ttl: 5
#    delegation:
#      user:
#      password:

  actions:
    sql:
      max-logged-rows: 30

jasypt:
  encryptor:
    private-key-format: pem
    private-key-location: classpath:/security/private.pem
