/* bootswatch.com/minty
  --bs-primary: #78c2ad;
  --bs-secondary: #f3969a;
  --bs-success: #56cc9d;
  --bs-info: #6cc3d5;
  --bs-warning: #ffce67;
  --bs-danger: #ff7851;
*/
:root > * {
  --md-primary-fg-color: #78c2ad;
  --md-accent-fg-color: #f3969a;
}

/*bootswatch.com/superhero/
  --bs-primary: #4c9be8;
  --bs-secondary: #4e5d6c;
  --bs-success: #5cb85c;
  --bs-info: #5bc0de;
  --bs-warning: #ffc107;
  --bs-danger: #d9534f;
  --bs-body-bg: #0f2537;
*/
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #4c9be8;
  --md-default-bg-color: #0f2537;
  --md-accent-fg-color: #94cce7;
}

.md-grid {
  max-width: 2160px;
}

thead {
  background-color: rgba(68,138,255,.1);
  filter: brightness(0.8);
}

.md-typeset__table {
  line-height: 1;
}

.md-typeset__table table:not([class]) {
  font-size: .74rem;
}

.md-typeset__table table:not([class]) td, .md-typeset__table table:not([class]) th {
  padding: 7px;
}

