<div class="d-flex justify-content-between mb-3" >
  <div class="cursor-pointer">
    @if (errorMessage) {
      <chutney-error-panel [errorMessage]="errorMessage" (click)="errorMessage = null" class="cursor-pointer"></chutney-error-panel>
    }
    @if (nameValidationMessage) {
      <chutney-error-panel [errorMessage]="nameValidationMessage" (click)="nameValidationMessage = null" class="cursor-pointer"></chutney-error-panel>
    }
  </div>
  <div>
    <button type="button" class="btn btn-info rounded me-2"
      (click)="enableAdd()"
      [disabled]="environment"
      >{{ 'global.actions.add' | translate }}
    </button>
    <chutney-import-button (submitEvent)="import($event)"></chutney-import-button>
  </div>

</div>
<table class="table table-striped table-hover ">
  <tbody>
    @if (environment) {
      <tr>
        <td>
          <chutney-forms-input-line [placeholder]="'admin.environment.name.placeholder' | translate"
            [(model)]="environment.name"
          [validate]="validationService.isValidEnvName.bind(validationService)"></chutney-forms-input-line>
        </td>
        <td>
          <chutney-forms-input-line
            [placeholder]="'admin.environment.description.placeholder' | translate"
          [(model)]="environment.description"></chutney-forms-input-line>
        </td>
        <td class="text-end align-middle">
          <button class="btn btn-sm btn-outline-primary me-2" (click)="environment = null">
            <i  class="bi bi-x" ></i>
          </button>
          <button class="btn btn-sm btn-primary" (click)="add()"
            [disabled]="!validationService.isValidEnvName(environment.name)">
            <i  class="bi bi-check" ></i>
          </button>
        </td>
      </tr>
    }
    @for (env of editableEnvironments; track env.name; let i = $index) {
      <tr>
        <td class="align-middle">
          @if (editing(i)) {
            <chutney-forms-input-line
              [placeholder]="'admin.environment.name.placeholder' | translate"
              [(model)]="env.name"
            [validate]="validationService.isValidEnvName.bind(validationService)"></chutney-forms-input-line>
          }
          @if (!editing(i)) {
            <div>
              {{env.name}}
            </div>
          }
        </td>
        <td class="align-middle">
          @if (editing(i)) {
            <chutney-forms-input-line
              [placeholder]="'admin.environment.description.placeholder' | translate"
            [(model)]="env.description"></chutney-forms-input-line>
          }
          @if (!editing(i)) {
            <div>
              {{env.description}}
            </div>
          }
        </td>
        <td class="text-end align-middle">
          @if (!editing(i)) {
            <button class="btn btn-sm btn-outline-primary" (click)="editionIndex = i"
              ngbTooltip="{{'global.actions.edit' | translate}}">
              <i class="bi bi-pen-fill" ></i>
            </button>
          }
          @if (editing(i)) {
            <button class="btn btn-sm btn-outline-primary me-2" (click)="editionIndex = null">
              <i  class="bi bi-x" ></i>
            </button>
            <button class="btn btn-sm btn-primary" (click)="save(i)"
              [disabled]="!validationService.isValidEnvName(env.name)">
              <i  class="bi bi-check" ></i>
            </button>
          }
          <button type="button" class="btn btn-sm btn-primary rounded ms-2"
            ngbTooltip="{{'global.actions.export' | translate}}"
            (click)="export(env)"><i class="bi bi-download"> </i>
          </button>
          <chutney-confirm-dialog [dialogMessage]="('global.confirm.question' | translate) + ' ' + ('global.actions.delete' | translate) + '\n' + env.name"
            [label]="'Delete Environment'"
            [btnSizeClass]="'sm'"
            (callbackEvent)="delete(env.name, i)"
            class="ms-2">
          </chutney-confirm-dialog>
        </td>
      </tr>
    }
  </tbody>
</table>
