<!--
  ~ SPDX-FileCopyrightText: 2017-2024 Enedis
  ~
  ~ SPDX-License-Identifier: Apache-2.0
  ~
  -->

<div>
<div class="modal-body" ngbAutofocus>
  @if (errorMessage) {
  <div class="alert alert-dismissible alert-danger mt-3">
    <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="errorMessage = null"></button>
    {{ errorMessage }}
  </div>
  }

  @if (environments.length > 1) {
  <div class="row mt-4">
    <p-floatLabel>
      <p-dropdown [options]="environments" [(ngModel)]="selectedEnv" placeholder="" styleClass="w-100"
        inputId="env-selection"></p-dropdown>
      <label for="env-selection">{{ "scenarios.execution.history.env" | translate }}</label>
    </p-floatLabel>
  </div>
  }

  <div class="row mt-4">
    <p-floatLabel>
      <p-dropdown
        [options]="filteredDatasets"
        [(ngModel)]="selectedDataset"
        (ngModelChange)="selectedDatasetChanged()"
        optionLabel="name"
        [filter]="true"
        [showClear]="true"
        [emptyMessage]=" 'global.msg.empty' | translate "
        placeholder=""
        (onChange)="this.getDatasetDetails()"
        inputId="dataset-selection" styleClass="w-100">
        <ng-template pTemplate="selectedItem" let-selectedDataset>
          <div class="d-flex justify-content-between">
            <span class="option-label">{{ selectedDataset.name }} </span>
            <div class="d-flex flex-row">
              @if ( datasetDetails?.uniqueValues.length ) {
                <div class="px-1 my-auto">
                  <p-button class="bi bi-eye-fill" (click)="this.showHideDataset($event)" [rounded]="true" [text]="true" severity="secondary" />
                </div>
              }
              @if ( createDataset != selectedDataset ) {
                <div class="ms-1 px-1 my-auto">
                  <p-button class="bi bi-pencil-fill" (click)="this.editDataset($event, selectedDataset)" [rounded]="true" [text]="true" severity="secondary" />
                </div>
              }
            </div>
          </div>
        </ng-template>
        <ng-template let-dataset pTemplate="item">
          <div>
            <span class="option-label">{{ dataset.name }}</span>
            <div class="float-end">
              @for (tag of dataset.tags; track $index) {
              <span class="chutney-tag chutney-tag-selected">{{ tag }}</span>
              }
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="filter" let-options="options">
          <div class="flex gap-1">
            <div class="p-inputgroup" (click)="$event.stopPropagation()">
              <input type="text" role="searchbox" autocomplete="off" class="p-dropdown-filter p-inputtext p-component"
                [(ngModel)]="filterValue" (keyup)="datasetFilter($event)" />
              <span class="p-inputgroup-addon"><i class="fa-solid fa-magnifying-glass"></i></span>
            </div>
          </div>
        </ng-template>
      </p-dropdown>
      <label for="dataset-selection">{{ "scenarios.execution.history.dataset" | translate }}</label>
    </p-floatLabel>
  </div>

  <div [ngbCollapse]="isCollapsed" class="my-2">
    <table class="table table-hover table-sm">
      <tbody>
        @for ( datasetUniqueValue of datasetDetails?.uniqueValues; track $index) {
        <tr>
          <td>{{ datasetUniqueValue.key }}</td>
          <td>{{ datasetUniqueValue.value }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>

    @if (editionDataset) {
    <ng-container [formGroup]="datasetForm">
        <div class="m-3">
            <div>
                <ul class="nav nav-tabs">
                    <li class="nav-item cursor-pointer">
                        <a class="nav-link" [ngClass]="{ 'active':activeTab==='keyValue'}"
                           (click)="selectTab('keyValue')"><span class="fa fa-list" aria-hidden="true"></span></a>
                    </li>
                    <li class="nav-item cursor-pointer">
                        <a class="nav-link" [ngClass]="{ 'active':activeTab==='multiKeyValue'}"
                           (click)="selectTab('multiKeyValue')"><span class="fa fa-th" aria-hidden="true"></span></a>
                    </li>
                </ul>

                <div class="tab-content clearfix">
                    <div class="tab-pane" id="keyValue" [ngClass]="{ 'active':activeTab==='keyValue'}">
                        <chutney-forms-key-value formControlName="keyValues" [enableImportExport]="false"></chutney-forms-key-value>
                    </div>
                    <div class="tab-pane" id="mulitKeyValue" [ngClass]="{ 'active':activeTab==='multiKeyValue'}">
                        <chutney-forms-data-grid formControlName="multiKeyValues" [enableImportExport]="false"></chutney-forms-data-grid>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-end m-3">
            <div class="me-3 align-content-center">
                <label class="form-check-label me-2">Save Dataset</label>
                <input type="checkbox" class="form-check-input" formControlName="saveDatasetCheckbox"/>
            </div>
            <div class="d-flex flex-column">
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': datasetFormControl.saveDatasetName.errors?.required }" id="saveDatasetName" formControlName="saveDatasetName" placeholder="Dataset name" disabled/>
                <div class="invalid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
    </ng-container>
    }
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModal.dismiss('cancel click')">{{ "global.actions.cancel" | translate }}</button>
  <button type="button" class="btn btn-primary" (click)="executeModal()">{{ "global.actions.execute" | translate }}</button>
</div>
</div>
