<!--
  ~ SPDX-FileCopyrightText: 2017-2024 Enedis
  ~
  ~ SPDX-License-Identifier: Apache-2.0
  ~
  -->

<div class="container-fluid">
  <div class="row">
    @if (backupForm) {
      <form class="w-100">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col" class="text-center" width="100px"></th>
              <th scope="col" class="text-center">{{ 'admin.backups.table.time.title' | translate }}</th>
              @for (backupable of backupables; track $index) {
                <th scope="col" class="text-center"
                >{{ 'admin.backups.table.'+backupable+'.title' | translate }}</th>
              }
            </tr>
          </thead>
          <tbody>
            <tr class="bg-light">
              <td class="text-center align-middle">
                <button type="button" class="btn btn-sm btn-primary"
                  title="{{ 'global.actions.add' | translate }}"
                  (click)="launchBackup()"
                  [disabled]="!isOneBackupSelected()">
                  <span class="fa fa-plus" aria-hidden="true"></span>
                </button>
              </td>
              <td></td>
              @for (backupableControl of backupForm.controls; track $index) {
                <td scope="row" class="text-center align-middle"
                  [formGroup]="asFormGroup(backupableControl)">
                  <input type="checkbox" formControlName="selected"/>
                </td>
              }
            </tr>
            @for (backup of backups; track backup.id) {
              <tr>
                <td scope="row" class="text-center align-middle">
                  <button type="button" class="btn btn-sm btn-danger"
                    title="{{ 'global.actions.delete' | translate }}"
                    (click)="deleteBackup(backup)">
                    <span class="fa fa-trash"></span>
                  </button>
                  <button type="button" class="btn btn-sm btn-primary ms-2"
                    title="Download"
                    (click)="download(backup)">
                    <span class="fa fa-download"></span>
                  </button>
                </td>
                <td scope="row" class="text-center align-middle">
                  {{ backup.time | date: 'medium' }}
                </td>
                @for (backupable of backupables; track backupable) {
                  <td scope="row" class="text-center align-middle"
                    >
                    @if (backup.backupables.includes(backupable)) {
                      <span class="fa fa-check-square" aria-hidden="true"></span>
                    }
                  </td>
                }
              </tr>
            }
          </tbody>
        </table>
      </form>
    }
  </div>
</div>
