/*!
 * SPDX-FileCopyrightText: 2017-2024 Enedis
 *
 * SPDX-License-Identifier: Apache-2.0
 *
 */


.nav-link, {
    cursor: pointer;
    border-radius: .25rem;
    color: var(--bs-white);
}

.pointer {
    cursor: pointer;
}
